* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table, th, td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin-top: 1rem;
    margin-left: 1rem;
}

th {
    padding: 5px 15px;
    text-align: center;
}

td {
    text-align: center;
}

h1,h2 {
    margin-top: 1rem;
    margin-left: 1rem;
}

a {
    margin-left: 1rem;
    font-weight: 500;
    text-decoration: none;
    padding: 8px 16px;
    background-color: rgb(135, 133, 255);
    margin-top: 1rem;
};

a:hover {
    background-color: rgb(62, 62, 255);
}

tr:nth-child(even) {
    background-color: rgb(207, 207, 207);
}

.github-link {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.nav {
    margin-top: 1rem;
}

.name {
    margin-bottom: 30px;
}

input {
    margin-left: 1rem;
    margin-top: .5rem;
    border: none;
    border-bottom: 1px solid black; 
}

.button {
    padding: 8px 18px;
    background-color: #2a2a2a;
    color: #fafafa;
    font-weight: 700;
    margin-left: 1rem;
    margin-top: .5rem;
}